/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* 
------------navigation bar--------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
}
nav h2{
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
nav a{
font-size: 20px;
text-decoration: none;
color: black;
margin-right: 20px;
margin-left: 10px;
font-weight: 600;

}

/* <<<<<<<<------------------------------
    -----------------------------------.>>>>>>>-*/
.banner-head{
    display: flex;
    margin-bottom: 15%;
    padding-left: 1%;  
   
}
.banner h1{
    font-size: 60px;
    padding-top: 20%;
    margin-left: 90px;
    margin-bottom: 30px;
}
.banner p{
    margin-left: 90px;
    margin-bottom: 30px;
}
.btn-arrow{
    margin-left: 10px;
    align-items: center;
    
}

.banner{
    width: 100%;
}

.banner img{
    width: 60%;
    padding-left: 20%;  
}

.banner button{

    border: none;
    background-color: #E02C6D;
    padding: 20px 20px;
    border-radius: 40px;
    color: white;
    font-weight: 60;
    margin-left: 90px;
    width: 200px;
    height: 60px;
    font-size: 15px;
    font-weight: 700;
}
/* <<<<<<<<------------------------------
    -----------------------------------.>>>>>>>-*/

hr{
    width: 50%;
   margin-bottom: 2%;

}
.container h1{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.all-logo{
    display: flex;
    justify-content: center;  
}
.logo{
    margin: 0 20px;
    
}
/* ---------------------
--------------------------
-------------------- */

.category{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px ;
    grid-row-gap: 30px ;
    align-items: center;
    background-color:lightblue;
    box-shadow:20px 20px 50px 10px pink;
    
}

.product .product-banner img{
    width: 350px;
    height: 256px;
    margin:50px;
}
